html{
    width: 100%;
    height: 100%;
}

body{
    background-image: url(bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #4d247ba2;
    background-blend-mode: darken;
    background-attachment: fixed;

    height: 150px;
    padding-top: 7vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30vh;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vh;
    color: white;
    height: 15vh;
    margin-top: 25vh;
    margin-bottom: 0vh;
}

.main{ 
    font-family: "Lovers Quarrel", cursive;
    font-size: 15vh;
}

.aest{
    font-size: 5vh;
    margin-bottom: 7vh;
}

.text{
    display: flex;
    width: 70%;
    font-family: "Italianno", cursive;
    font-size: 5.5vh;
    text-align: center;
    align-items: center;
    color: white;
    height: 25vh;
}

.container2{
    padding-bottom: 10vh;
}

.sub{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle{
    height: 13vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vh;
    font-family: "League Script", cursive;
    font-size: 3vh;
    color: white;
}

.subtitle p{
    font-size: 5vh;
}

/* SCROLL */
.cards{
    display: flex;
    justify-content: center;
    gap: 10vh;
    margin-top: 10vh;
    flex-wrap: wrap;
}

.card{
    width: 35vh;
    padding-top: 5vh;
    padding-right: 3vh;
    padding-left: 3vh;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(7px);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;

    transition: all 0.4s ease;
    box-shadow: 0 0 15px rgba(150, 117, 255, 0.2);
}

.card:hover{
    transform: translateY(-1vh);
    box-shadow: 0 0 25px rgba(194, 162, 255, 0.45);
    background: rgba(255, 255, 255, 0.25);
}

.card img{
    width: 22vh;
    object-fit: contain;
    filter: drop-shadow(0 0 10px rgba(127, 10, 151, 0.644));
}

.img1{
    margin: -1vh;
}

.genre h3{
    font-family: "Lovers Quarrel", cursive;
    font-weight: 300;
    font-size: 7vh;
    margin: 0;
    padding: 0;
    color: #f3e8ff;
}

.desc{
    font-size: 3vh;
    text-align: center;
    font-family: "Quintessential", serif;
    color: #f5eaff;
    margin-top: 0;
}



/* NAVBAR */
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(#61367dac, #9d00ff00);
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #f3e8ff;
    font-family: "Rubik", sans-serif;
    z-index: 9999;
}

.nav-logo{
    object-fit: contain;
    margin-left: 5vh;
    filter: drop-shadow(0 0 6px #b285f5);
    width: 13vh;
}

.nav-left{
    margin-left: 7vh;
}

.nav-left h2{
    font-family: "Lovers Quarrel", cursive;
    font-weight: lighter;
    font-size: 8vh;
    color: white;
    margin: 0;
    letter-spacing: 2px;
}

.nav-right{
    display: flex;
    gap: 5vh;
    margin-right: 7vh;
}

.nav-right a{
    text-decoration: none;
    color: white;
    font-family: "Pinyon Script", cursive;
    font-size: 4vh;
    transition: all 0.3s ease;
}

.nav-right a:hover{
    color: #ffffff;
    text-shadow: 0 0 10px #d7bdfb, 0 0 15px #9b68df;
    animation: flicker 0.6s ease-in-out infinite alternate;
}
@keyframes flicker{
    from { text-shadow: 0 0 4px #b27df7, 0 0 10px #c8a9ff; }
    to { text-shadow: 0 0 8px #c3a8ea, 0 0 16px #d5c1f0; }
}


/* FOOTER */
.footer{
    color: white;
    text-align: center;
    padding-bottom: 3vh;
}